*$*
.Rproj.user
*.Rproj
.Rhistory
/1_MR/1_data/gwas_associations/*
/1_MR/3_output/2_MR/*
/1_MR/3_output/5_coloc/*
/1_MR/3_output/harmonisation_summary.tsv
*.png
.Rdata
*.yaml
*.pdf
*.tsv
*.rds
*.ipynb
*.csv
2_colocalisation/3_output/*
3_prediction/2_scripts/archive/*